<div class="save-workout-modal">
  <div class="modal-title">Add Workout</div>
  <div [formGroup]="workoutForm" class="workout-form">
    <div class="form-fields">
      <input formControlName="name"  placeholder="workout name">
      <input formControlName="description" placeholder="workout description">
    </div>

    <button class="add-btn" (click)="addExercise()">Add Exercise</button>
    <div *ngFor="let control of exerciseIds.controls; let i = index" class="select-exercise">
      <select [formControl]="control">
        <option *ngFor="let item of savedExercises" [value]="item.id">
          {{item.name}}
        </option>
      </select>
      <button class='btn-remove' (click)="removeExercise(i)"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
  </div>
  <button class="submit" (click)="submit()">Save Workout</button>
</div>
